NOTION_API_TOKEN="your_notion_internal_integration_token"
NOTION_DATABASE_ID="your_notion_content_database_id"
GEMINI_API_KEY="your_google_gemini_api_key"
DEV_API_KEY="your_dev.to_api_key_from_settings"
HASHNODE_API_KEY="your_hashnode_personal_access_token"
HASHNODE_PUBLICATION_ID="your_hashnode_publication_id_from_dashboard_url"
PORT=8080
